<p>informacion del plato:</p>
              <ul>
                <li>
                    Nombre: <%= producto.nombre %>   
                </li>
                <li>
                    Descripcion: <%= producto.Descripcion %> 
                </li>
                <li>
                    Precio: <%= producto.precio %> 
                </li>
              </ul>